<po-toolbar p-title="Dashboard"></po-toolbar>

<app-home-chart
  [productsData]="{
    stockProducts,
    receivingProducts,
    shippingProducts,
    shippedProducts,
  }"
></app-home-chart>

<div class="po-row">
  <div
    class="po-md-12 po-mt-2"
    style="
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1rem;
      width: 100%;
      box-sizing: border-box;
    "
  >
    <po-widget [p-height]="198" style="width: 100%">
      <div class="po-font-title po-text-center po-pt-5">
        {{ stockProducts.length }}
      </div>
      <div class="po-text-center">Produto(s) em estoque</div>
    </po-widget>
    <po-widget [p-height]="198" style="width: 100%">
      <div class="po-font-title po-text-center po-pt-5">
        {{ receivingProducts.length }}
      </div>
      <div class="po-text-center">Produto(s) aguardando recebimento</div>
    </po-widget>
    <po-widget [p-height]="198" style="width: 100%">
      <div class="po-font-title po-text-center po-pt-5">
        {{ shippingProducts.length }}
      </div>
      <div class="po-text-center">Produto(s) pronto(s) para envio</div>
    </po-widget>

    <po-widget [p-height]="198" style="width: 100%">
      <div class="po-font-title po-text-center po-pt-5">
        {{ todayShippedProducts.length }}
      </div>
      <div class="po-text-center">Produto(s) expedido(s) hoje</div>
    </po-widget>
  </div>
</div>

<div class="po-row" style="margin-bottom: 50px">
  <po-container class="po-lg-12 po-mt-2">
    <div class="po-font-text-bold">Todos os produtos</div>

    <po-table
      p-container="shadow"
      [p-items]="items"
      [p-hide-table-search]="false"
      [p-sort]="true"
      [p-columns]="columns"
      [p-hide-columns-manager]="true"
    >
    </po-table>
  </po-container>
</div>
