<po-toolbar p-title="Expedição"></po-toolbar>

<div class="po-row" style="margin: 20px 0px">
  <po-dynamic-form
    #dynamicForm
    style="width: 100%"
    p-auto-focus="name"
    [p-fields]="formFields"
  >
  </po-dynamic-form>

  <br />

  <div class="po-row" style="margin-top: 20px">
    <po-button
      class="po-md-3"
      p-label="Salvar"
      style="width: 120px"
      (p-click)="submitForm(dynamicForm)"
    >
    </po-button>
  </div>
</div>

<div class="po-row" style="margin-bottom: 50px">
  <po-container class="po-lg-12 po-mt-2">
    <div class="po-font-text-bold">Todos os produtos</div>

    <po-table
      p-container="shadow"
      [p-items]="items"
      [p-hide-columns-manager]="true"
      [p-hide-table-search]="false"
      [p-sort]="true"
      [p-columns]="columns"
    >
    </po-table>
  </po-container>
</div>
