:root {
  --color-brand-01-base: #007bff;
  --color-brand-02-base: #007bff;
  --po-color-secondary: #6c757d;
  --color-brand-01-dark: rgb(53, 109, 194);
  --color-brand-01-darker: rgb(30, 88, 175);
  --color-brand-01-darkest: rgb(22, 60, 121);
  --color-brand-01-light: rgb(133, 182, 255);
  --color-brand-01-lightest: rgb(210, 228, 255);
  --color-brand-01-lighter: rgb(169, 203, 255);
}

.po-menu-panel-inner,
.po-menu-panel-logo-container {
  background-color: #4b4b4b;
}

.po-menu-panel-item {
  border: none;

  span {
    font-weight: 900;
  }
}

.po-menu-panel-item-selected {
  background: #303030;

  span {
    color: white;
    font-weight: 500;
    position: relative;
    right: 3px;
  }

  border-left: #007bff solid;
}

.po-menu-panel-item-selected:hover {
  background-color: #303030;
}

body {
  background-color: rgb(185, 185, 185);
}

.po-toolbar-title {
  font-size: large;
}
